<main class="page">
    <section>
        <div class="content-wrapper">
            <div class="container">
                <div class="row mb-3">
                    <p class="h2 text-center">Create your organization</p>
                    <blockquote class="text-center">
                        Create an organization to unlock the
                        <span class="text-decoration-underline">league creator !</span>
                    </blockquote>
                </div>
                <div class="row row-cols-12 mb-3">
                    <label for="org-name" class="form-label text-uppercase  ">organization name</label>
                    <div class="input-group input-group-sm mb-4">
                        <input id="org-name" type="text" class="form-control" placeholder="Tap your organization name" />
                    </div>
                    <p class="check-name-label text-decoration-underline text-end">Check if the name is available</p>
                </div>
                <div class="row">
                    <label for="privacy" class="form-label text-uppercase  ">privacy</label>
                    <div>
                        <div class="form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="privacy">
                            <label class="form-check-label">Make this organisation private</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2 col-12">
                        <a routerLink="/onboarding-step-two" class="btn btn-light btn-lg" type="button"><i class="grid-icon grid-tick">&#160;</i>Create my organization</a>
                    </div>    
                </div>
            </div>
        </div>
    </section>
</main>
