.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    flex: 1;
    width: 715px;
}

.container-lg {
    display: flex;
    flex-direction: column;
}

.badge {
    width: 45px;
    height: 28px;
    display: block;
    margin: auto;
    line-height: 20px;
}

.classes .col-3 {

    & div div {
        min-width: 75px;
        min-height: 75px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &:nth-child(1) div div {
        background-image: url('../../../assets/img/cars/bg-gt3.png');
    }

    &:nth-child(2) div {
        &.active {
            color: #fff;
            background-color: #241ed8;
        }
        div {
            background-image: url('../../../assets/img/cars/bg-gt4.png');
        }
    }
    

    &:nth-child(3) div {
        &.active {
            color: #fff;
            background-color: #f6ab3b;
        }
        div {
            background-image: url('../../../assets/img/cars/bg-gtc.png');
        }
    }
    

    &:nth-child(4) div {
        &.active {
            color: #fff;
            background-color: #00a5de;
        }
        div {
            background-image: url('../../../assets/img/cars/bg-tcx.png');
        }
    }
    
    &>div {
        cursor: pointer;
        height: 270px;
        border: 2px solid #2E2E2E;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        .h1 {
            font-family: 'Coign';
            font-size: 96px;
        }
    
        &.active {
            color: #000;
            background-color: #fff;
        }
    
        span {
            font-size: 14px;
            color: #959595;
        }
    
        label {
            font-size: 16px;
        }
    }
}


a {
    font-size: 14px;;
}